
.cache/
.capsule/
additional-node-infos/
artemis/
brokers/
certificates/
cordapps/
drivers/
logs/
persistence/
network-parameters
nodeInfo-*
persistence.mv.db
persistence.trace.db
process-id
corda.jar
corda-tools-network-bootstrapper-4.3.jar
*.log
bfg-1.14.0.jar